<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style type="text/css">
        body{
            background-color: #CCCCCC;
            align-items: center;
        }
        #fundo{
            background-color: #778899;
            text-align: center;
            padding: 20px;
        }
        #operacoes{
            background-color: #CCCCCC;
            align-items: center;
        }
        .subop{
            background-color: red;
            width: 10%;
            padding: 10px;
            text-align: center;
        }
    </style>
        
</head>
<body>
    <div id="fundo">
        <div>
            <h1>Faça upload da <br/> imagem 1</h1>
        </div>
        <div>
            <h1>Faça upload da <br/> imagem 2</h1>
        </div>
        <div>
            <h2>Resultado da operação</h2>
        </div>
        <div id="operacoes">
            <div class="subop">SUM</div>
            <div class="subop">SUBTR</div>
            <div class="subop">MULT</div>
            <div class="subop">AND</div>
            <div class="subop">OR</div>
            <div class="subop">XOR</div>
            <div class="subop">ROTAÇÃO</div>
            <div class="subop">TRANSLAÇÃO</div>
            <div class="subop">ESCALA</div>
            <div class="subop">CISALHAMENTO</div>
            <div class="subop">REFLEXÃO</div>
            <div class="subop">REPLICAÇÃO</div>
            <div class="subop">INTERPOLAÇÃO</div>
            <div class="subop">EXCLUSÃO</div>
            <div class="subop">VALOR-MÉDIO</div>
            <div class="subop">RED</div>
            <div class="subop">GREEN</div>
            <div class="subop">BLUE</div>
            <div class="subop">A</div>
            <div class="subop">B</div>
            <div class="subop">INVERSA</div>
            <div class="subop">BINÁRIA</div>
            <div class="subop">LOG</div>
            <div class="subop">RAÍZ</div>
            <div class="subop">EXPONENCIAL</div>
            <div class="subop">QUADRADO</div>
            <div class="subop">FILTRO ESTÁTICO</div>
            <div class="subop">FILTRO NÃO ESTÁTICO</div>
            <div class="subop">PREVENÇÃO</div>
        </div>
    </div>

</body>
</html>